.app {
  display: flex;
  position: relative;
  .alert {
    position: absolute;
    width: 300px;
    //left: -5px;
    bottom: 30px;
    right: 15px;
    //bottom: 0;
    z-index: 999;

    animation: onAlertError 1s;
  }
}

@keyframes onAlertError {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
